[submodule "src/linenoise"]
	path = src/linenoise
	url = https://github.com/antirez/linenoise
[submodule "src/ed25519"]
	path = src/ed25519
	url = https://github.com/orlp/ed25519
[submodule "src/lzfse"]
	path = src/lzfse
	url = https://github.com/lzfse/lzfse/
[submodule "src/zstd"]
	path = src/zstd
	url = https://github.com/facebook/zstd/
